<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OMDB</title>
    {% load staticfiles %}
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>-->
    <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %}" type="text/css"/>
    <style>

    #footer {
	    background:#ffab62;
	    width:100%;
	    height:100px;
	    position:absolute;
	    bottom:0;
	    left:0;
    }
    .search{
        border-style: ridge;
        border-radius: 10px;
        height:70px;
        padding-top: 10px;

    }
    body{
        padding-bottom:60px;
        padding-top: 20px;
    }
    a{
        font-size: 20px;
        color: #004d00;
        font-weight: bold;
    }
    </style>

    <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).on('keyup','#submitMovie',function(e){
            $.ajax({
                type:'post',
                url:'/ojas/',
                data:{
                    'name':$('#conf').val(),
                    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
                },

                datatype: 'json'
                success: searcsucc
            });
        });
    function searcsucc(data, textstatus, jqXHR){
        console.log('ojas');
    }
    </script>

</head>
<body  style="background-color:#313135; color:#004d00">

    <div class="container">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>



     </div>
    {% block content %}
    {% endblock %}

</body>
</html>