<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ojas Kale </title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css"/>
    <style>

    #footer {
	    background:#ffab62;
	    width:100%;
	    height:100px;
	    position:absolute;
	    bottom:0;
	    left:0;
    }

    body{
        padding-bottom:60px;
        padding-top: 20px;
    }
    a{
        font-size: 20px;
        color: #004d00;
        font-weight: bold;
    }
    </style>
</head>
<body  style="background-color:#313135; color:#004d00">

    <div class="container">
    <div class="container-fluid">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>



     </div>
    {% block content %}
    {% endblock %}

</body>
</html>